__pycache__/
__pypackages__/
.mypy_cache/
.pytest_cache/
.pytest_tmp/
.ruff_cache/
*.egg-info/
/.venv/
/build/
/dist/
/mutants/
/website/.build/
/website/node_modules/
/website/src/.vitepress/cache/
/website/src/.vitepress/dist/

.coverage
*.py[cdio]
*$py.class
