__pycache__/
__pypackages__/
.mypy_cache/
.pytest_cache/
.pytest_tmp/
.ruff_cache/
*.egg-info/
/.venv/
/build/
/dist/
/docs/.build/
/docs/node_modules/
/docs/src/.vitepress/cache/
/docs/src/.vitepress/dist/
/mutants/

.coverage
*.py[cdio]
*$py.class
